In [7]:
import pandas as pd
df1 = pd.read_csv("output/extracted_tables/3M_2018_10K/data.csv")
df1 = df1.drop(columns=['index'])
df2 = pd.read_csv('output/parquet/extracted_texts_and_imgs_with_responses.csv')
df2 = df2.drop(columns=['index', 'image_id'])

In [8]:
df1

              doc_id  page_number  has_table image_bytes response
0    3M_2018_10K.pdf            1      False         NaN      NaN
1    3M_2018_10K.pdf            2      False         NaN      NaN
2    3M_2018_10K.pdf            3      False         NaN      NaN
3    3M_2018_10K.pdf            4      False         NaN      NaN
4    3M_2018_10K.pdf            5      False         NaN      NaN
..               ...          ...        ...         ...      ...
156  3M_2018_10K.pdf          156      False         NaN      NaN
157  3M_2018_10K.pdf          157      False         NaN      NaN
158  3M_2018_10K.pdf          158      False         NaN      NaN
159  3M_2018_10K.pdf          159      False         NaN      NaN
160  3M_2018_10K.pdf          160      False         NaN      NaN

[161 rows x 5 columns]

In [9]:
df1.to_csv("response.csv")

In [10]:
df1['response'][12]

"This table presents data on share purchases for the year 2018, broken down by month and quarter.  In January, 714,575 shares were purchased at an average price of $245.98 per share, with 714,138 of these shares part of publicly announced plans, leaving a potential $4.894 million allocated for further purchases under these plans.  February saw 1,420,634 shares purchased at an average of $233.78, with 1,420,599 under announced plans and $4.562 million remaining for potential purchases. March's purchases totaled 1,791,496 shares at $228.82 each, with all shares under announced plans and $4.152 million remaining for future purchases.  The total for the first quarter (January through March) was 3,926,705 shares at an average of $233.74, with 3,926,233 shares falling under announced plans, leaving $4.152 million for possible future acquisitions.\n\nMoving to the second quarter, April saw 2,135,968 shares purchased at an average of $213.63, with all under announced plans and a remaining potential purchase value of $3.696 million. In May, 3,283,170 shares were purchased at $201.64 each, with 3,282,339 shares under announced plans and $3.034 million remaining for future buys.  June saw the purchase of 2,358,619 shares at an average price of $200.31, all under announced plans with a remaining budget of $2.562 million. The total for the second quarter (April through June) came to 7,777,757 shares at an average price of $204.53.  7,776,926 of these shares fell under announced plans, leaving $2.562 million potentially available for future purchases.\n\nIn the third quarter, July's purchases were 1,851,663 shares at $201.17 each, all under announced plans with $2.189 million remaining for potential buys. August had 1,813,661 shares purchased at $205.37, with all shares under announced plans and $1.817 million remaining for future purchases.  September saw 1,476,649 shares purchased at $211.62 each, with all under announced plans and a remaining $1.504 million for possible purchases.  Total purchases for the third quarter (July through September) came to 5,141,973 shares at an average price of $205.65. 5,141,973 shares were purchased under announced plans and $1.504 million remained.\n\nFinally, in the fourth quarter, 2,346,310 shares were purchased in October at an average price of $198.16, all falling under planned programs with $1.039 million available for future purchases.  November purchases totaled 1,847,238 shares at $199.51, under planned programs with $9.828 million remaining.  In December, 2,249,175 shares were purchased at $192.10 apiece, with all falling under pre-announced plans, and $9.396 million potentially remaining for additional purchases.  The total for the final quarter (October to December) was 6,442,723 shares at an average of $196.43, with all shares purchased under planned programs and a remaining potential purchase budget of $9.396 million. For the entire year, a total of 23,289,158 shares were purchased at an average price of $207.46 per share. 23,287,855 shares were bought under planned programs, and $9.396 million potentially remained for further acquisitions.\n"

In [39]:
concatenated_df1 = df1.groupby('page_number')['response'].agg(lambda x: ' '.join(x.dropna().astype(str))).reset_index()

In [35]:
concatenated_df1

   page_number                                           response
0            1  The image shows the ARTICLE INFO and ABSTRACT ...
1            2
2            3
3            4
4            5  The table displays MAE values for the predicti...
5            6  The table presents data on throughput screenin...
6            7

In [36]:
df2

,index,doc_id,doc_title,page_number,text,url,has_image,image_id,image_response
0,0,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,1,Contents lists available at ScienceDirect\nFue...,1-s2.0-S0016236119323610-main.pdf#page=1,True,1-s2\img00467_p1.png,The image consists of the Elsevier logo. The ...
1,1,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,1,Contents lists available at ScienceDirect\nFue...,1-s2.0-S0016236119323610-main.pdf#page=1,True,1-s2\img00468_p1.png,The image depicts the cover of a journal title...
2,2,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,1,Contents lists available at ScienceDirect\nFue...,1-s2.0-S0016236119323610-main.pdf#page=1,True,1-s2\img00469_p1.png,The image illustrates a machine learning-enabl...
3,3,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,2,1. Introduction\nHigh energy density hydrocarb...,1-s2.0-S0016236119323610-main.pdf#page=2,True,1-s2\img00042_p2.png,An error occurred while processing the images:...
4,4,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,3,"transfer our input data to Coulomb matrix [28,...",1-s2.0-S0016236119323610-main.pdf#page=3,True,1-s2\img00074_p3.png,"A 3D ball-and-stick model of a molecule, with ..."
5,5,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,4,"values of Tb, NHOC and Isp for all the molecul...",1-s2.0-S0016236119323610-main.pdf#page=4,True,1-s2\img00082_p4.png,"The image presents two bar graphs, labeled (a)..."
6,6,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,4,"values of Tb, NHOC and Isp for all the molecul...",1-s2.0-S0016236119323610-main.pdf#page=4,True,1-s2\img00083_p4.png,An error occurred while processing the images:...
7,7,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,5,HEDH fuel should possess one or two outstandin...,1-s2.0-S0016236119323610-main.pdf#page=5,True,1-s2\img00099_p5.png,An error occurred while processing the images:...
8,8,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,6,group contribution and DFT are summarized in T...,1-s2.0-S0016236119323610-main.pdf#page=6,True,1-s2\img00114_p6.png,An error occurred while processing the images:...
9,9,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,6,group contribution and DFT are summarized in T...,1-s2.0-S0016236119323610-main.pdf#page=6,True,1-s2\img00115_p6.png,The image presents a stacked bar graph compari...
10,10,1-s2.0-S0016236119323610-main.pdf,Machine learning enabled high-throughput scree...,7,which were found to be highly potent with high...,1-s2.0-S0016236119323610-main.pdf#page=7,False,NaN,NaN

In [31]:
concatenated_df2 = df2.groupby('page_number').agg({
    'text': lambda x: ' '.join(x.dropna().astype(str)),  # Concatenate text
    'image_response': lambda x: ' '.join(x.dropna().astype(str))  # Concatenate image_response
}).reset_index()

In [17]:
concatenated_df2

,page_number,text,image_response
0,1,Contents lists available at ScienceDirect\nFue...,The image provided does not contain a table. I...
1,2,1. Introduction\nHigh energy density hydrocarb...,The image depicts a flowchart with graphical e...
2,3,"transfer our input data to Coulomb matrix [28,...",An error occurred while processing the images:...
3,4,"values of Tb, NHOC and Isp for all the molecul...",An error occurred while processing the images:...
4,5,HEDH fuel should possess one or two outstandin...,The image presents a 3D scatter plot with thre...
5,6,group contribution and DFT are summarized in T...,The image presents a table of chemical structu...
6,7,which were found to be highly potent with high...,

In [8]:
# Merge the two DataFrames on 'page_number'
final_df = pd.merge(concatenated_df2, concatenated_df1, on='page_number', how='outer')

# Select the desired columns for the final DataFrame
final_df = final_df[['page_number', 'text', 'response', 'image_response']]

In [9]:
final_df

,page_number,text,response,image_response
0,1,Contents lists available at ScienceDirect\nFue...,Here's a paragraph summarizing the provided te...,Please provide the image of the table you are ...
1,2,1. Introduction\nHigh energy density hydrocarb...,,Here's a description of the image content:\n\n...
2,3,"transfer our input data to Coulomb matrix [28,...",,The image contains a table showing a matrix of...
3,4,"values of Tb, NHOC and Isp for all the molecul...",,"Here's a description of the table contents, ex..."
4,5,HEDH fuel should possess one or two outstandin...,This table presents the Mean Absolute Error (M...,The image contains a 3D scatter plot. The x-ax...
5,6,group contribution and DFT are summarized in T...,The provided table presents data from a throug...,The table contains four rows of seven columns ...
6,7,which were found to be highly potent with high...,,

In [28]:
import os
# Define the output directory and filename
output_dir = 'output/txts/'
output_file = os.path.join(output_dir, 'final_output.txt')

In [29]:
# Create output directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Write to the .txt file
with open(output_file, 'w') as f:
    for index, row in final_df.iterrows():
        f.write(f"{row['text']} {row['response']} {row['image_response']}\n\n")  # Two newlines for space between entries

# Output path for confirmation
output_file

'output/txts/final_output.txt'